.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 30px;
  margin: 2rem;
}

/* @media only screen and (max-width: 600px) {
  .car-list {
  margin: auto;
  padding: auto;
  }
} */

@media only screen and (max-width: 1200px) {
  .card-list {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
