.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 15px solid black;
  background-color: rgb(125, 70, 152);
  color: black;
  font-size: large;
}

.title h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title-subtitle {
  color: rgb(20, 19, 19);
  padding-top: 0;
  font-size: 30px;
}

.title .nav-link {
  display: inline-block;
  padding: 0.5em 1em;
  color: yellow;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
}

.title .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
  font-size: 40px;
}

.title img {
  height: 300px;
  width: auto;
  margin: 20px 50px;
}

.title .image1 {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 10px 5px rgb(195, 115, 245);
}
.title .image3 {
  border-radius: 50% 75%;
  overflow: hidden;
  box-shadow: 1px 1px 10px 5px rgb(195, 115, 245);
}

@media (max-width: 1200px) {
  .title {
    flex-direction: column;
    border-width: 10px;
    font-size: medium;
  }

  .title h1 {
    font-size: 50px;
  }

  .title-header{
  padding-left: 10px;
  }
  
  .title .nav-link {
    font-size: 30px;
  }

  .title-subtitle {
    font-size: 20px;
  }

  .title img {
    height: 200px;
    width: auto;
    margin: 50px 10px;
  }

  .title .image1 {
    margin-top: 10px;
  }
  .title .image3 {
    margin-bottom: 10px;
  }
}