.builder {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

select {
  background-color:rgb(209, 85, 147);
  color: black;
  align-self: center;
  font-size: 30px;
  border-radius: 2px;
}
