/* style the cards */
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgb(125, 70, 152);
  width: 500px;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: grey;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.card img {
  max-width: 100%;
  max-height: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.card button {
  background-color: rgb(209, 85, 147);
  box-shadow: 5px 5px 5px rgb(125, 70, 152);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px rgb(92, 246, 36);
}

.stats {
  /* display: none; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}