.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
  justify-content: center;
  /* padding: 1em; */
  border: 15px solid black;
  background-color: rgb(125, 70, 152);
  color: black;
  font-size: large;
}

.title h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title-Subtitle {
  color: rgb(20, 19, 19);
  padding-top: 0;
}

.title .nav-link{
  display: inline-block;
  padding: 0.5em 1em;
  color: 'yellow';
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

.title .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
  font-size: 25px;
}
